<!-- Navigation-->
<nav class="navbar navbar-expand-lg">
<div class="container px-4 px-lg-5">
         <a style="margin-left: -120px;" class="navbar-brand text-light" routerLink=""> <img style="width: 50px; height: 50px;"
                src="https://media.istockphoto.com/id/1368731656/vector/letter-r-beauty-flower-logo-with-creative-concept-for-company-business-decorative-flower.jpg?s=612x612&w=0&k=20&c=31hDWiML_VvjR6P_nUk2c17fn6KkmtbNtIg5KShTDiU="
                alt="resume-img"><span class="resumate"> RESUMATE</span></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item">
                </li>
            </ul>
            <form class="d-flex align-items-center">
                <!-- contact us -->
                <a class="btn text-light" routerLink="">
                    <i class="fa-sharp fa-solid fa-message fa-flip text-danger"></i>
                    CONTACT US
                </a>
                <!-- login -->
               <div>
                    <a class="btn text-light" routerLink="">
                        <i class="fa-solid fa-user fa-beat text-light"></i>
                        LOG IN
                        <span class="badge bg-light text-dark ms-1 rounded-pill"></span>
                    </a>
               </div>

               <!-- <div *ngIf="loginsuccess">
                <a class="btn text-light" routerLink="/login">
                    <i class="fa-solid fa-user fa-beat text-dark"></i>
                    LOG OUT
                    <span class="badge bg-light text-dark ms-1 rounded-pill"></span>
                </a>
           </div> -->


            </form>
        </div>
    </div>
</nav>

