<h1 class="mt-5 text-center"><span class="jobstepheading ">Lets Make Your CV With <span class="text-danger">Resumate</span></span></h1>

<div class="container" style="height: 315px; margin-top: 200px;">

    <div class="row text-center mt-5">
        <div class="col-4 step1">
            <img class="img-circle" style="margin-left: 50px; width: 100px;height: 100px;margin-top: 20px;"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPZEMIsc5LAJS5eK8qrdv0FcJc160RNM3vFrm4PlNoZkJ4yXfe"
                alt="first_img">
            <h5 class="mt-4 "><span class="fw-bolder ">①</span>&nbsp; Choose your professionally<br>designed template
            </h5>
        </div>
        <div class="col-4 step1">
            <img style="width:100px;height: 100px;margin-top: 20px;margin-left: 50px;"
                src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTarZVVuHbxqeWK2F2oipLZOHbJNkValNmJum8gxDKT3tZhpdzU" alt="second_img">
            <h5 class="mt-4 "><span class="fw-bolder"> ➁</span> &nbsp;
                Add pre-written examples<br>to each section</h5>
        </div>
        <div class="col-4 step1">
            <img style="margin-left: 50px; width: 100px;height: 100px;margin-top: 20px;" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcS61XTzX3XDR-qGp3HXDeG8LAfmu_yKFYzA8jsHLTZtVi9BHQfg" alt="third_img">
            <h5 class="mt-4"><span style="margin-left: 50px;" class="fw-bolder"> ➂</span>&nbsp; Download and start applying.</h5>
        </div>
    </div>

</div>
<button style="margin-left: 700px;width: 300px;" class="btn btn-dark fw-bolder text-light" routerLink="/havecv">LET'S
    GO</button>