<div class="container ">
    <div class="row d-flex ">
       
        <!-- first  tempelete -->
        <div class="col-4 ">
            <form class="column2 mt-5" routerLink="/header-detail">
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <div class="left_div">
                                <!-- <img class="rounded-circle"
                                    style="width: 150px;height: 150px;margin-top: 50px;margin-left: 20px;"
                                    src="https://cutewallpaper.org/24/person-icon-png/person-icons-gray-free-transparent-png-download-pngkey.png"
                                    alt="person_img"> -->
                                <hr>
                                <div style="margin-top: 250px;">
                                    <h6 class="text-center text-light">SKILLS</h6>
                                    <ul class="list-group">
                                        <li class="list-group-items skills">Cash Register Operation</li>
                                        <li class="list-group-items skills">Team Work</li>
                                        <li class="list-group-items skills">Sales Expertise</li>
                                        <li class="list-group-items skills">Inventary Management</li>
    
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-6 mt-4">
                            <h4>Priya Agarwal</h4>
                            <h6 class="place"><i class="fa-sharp fa-solid fa-location-dot"></i> New Delhi, India ,112345
                            </h6>
                            <h6 class="place"><i class="fa-solid fa-mobile"></i> +91 9865365896 </h6>
                            <h6 class="place"><i class="fa-sharp fa-solid fa-envelope"></i> priya@gmail.com</h6>

                            <h5 class="heading mt-4">SUMMERY</h5>
                            <p class="summery">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae, id ex a
                                similique rerum, impedit placeat quis, doloribus accusantium error quisquam maiores ab
                                ratione dolores earum. Laboriosam totam repudiandae voluptates?</p>
                            <br>
                            <h5 class="heading">EXPERIENCE</h5>
                            <p class="experience">2-7-200 - current</p>
                            <h6 class="retail_associate">Retail sales Associate ZARA</h6>
                            <ul class="list-group">
                                <li class="list-group-items">Lorem ipsum, dolor sit amet consectetur adipisicing elit
                                </li>
                                <li class="list-group-items">Lorem ipsum, dolor sit amet consectetur adipisicing elit
                                </li>
                                <li class="list-group-items">Lorem ipsum, dolor sit amet consectetur adipisicing elit
                                </li>
                                <br>
                                <h5 class="heading">EDUCATION</h5>
                                <p class="education" style="margin-left: 20px;">2016</p>
                                <p class="diploma">Diploma in Finance Accounting</p>
                                <h6 class="education">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum
                                    labore repudiandae exercitationem</h6>
                                <br>
                                <h5 class="heading">Intrest and Hobbies</h5>
                                <ul class="list-group">
                                    <p class="recreate">Recreate Football League</p>
                                    <li class="list-group-items ms-5">Team Captian</li>
                                    <li class="list-group-items ms-5">Two Time League Champion </li>
                                </ul>
                            </ul>
                        </div>
                    </div>
                </div>
            </form>
        </div>

<!-- second template -->
        <div class="col-4 mt-5 column1 " routerLink="/header-detail">
            <form>
                <div class="head text-light">
                    <h2 class="text-center">Priya Agarwal</h2>
                    <p class="text-center">New Delhi, India ,112345 | +91 9865365896 | priya@gmail.com</p>
                </div>
                <!-- summery -->
                <h5 style="margin-left: 20px;" class="text-primary mt-3 heading">Summery</h5>
                <p class="text-decoration-line summery">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
                    at
                    iure quidem omnis? Ipsam dignissimos repellat similique dolor aut quia esse quis officiis illum
                    sunt.
                    Praesentium ab fuga alias Lorem ipsum dolor</p>
                <hr class="w-25 " style="margin-left: 20px;">

                <!-- experience -->
                <h5 style="margin-left: 20px; margin-top: -100px;" class="text-primary heading">Experience</h5>
                <p class="experience">RETAIL SALES ASSOCIATIVE | 1-2017 - current</p>
                <p class="experience">ZARA-New Delhi,India</p>

                <ul class="list-group">
                    <li class="list-group-items ms-5">Lorem ipsum dolor sit amet consectetur adipisicing.</li>
                    <li class="list-group-items ms-5">Lorem ipsum dolor sit amet consectetur adipi <br> sicing amet
                        consectetur adipisicing elit</li>
                    <li class="list-group-items ms-5">Lorem ipsum dolor sit amet consectetur adipisicing.</li>
                </ul>
                <hr class="w-25 " style="margin-left:20px;">

                <!-- skills -->
                <h5 style="margin-left: 20px; margin-top: -80px;" class="text-primary heading">Skills</h5>

                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <ul class="list-group">
                                <li class="list-group-items ms-5">Lorem ipsum dolor </li>
                                <li class="list-group-items ms-5">Lorem ipsum dolor </li>
                                <li class="list-group-items ms-5">Lorem ipsum dolor</li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul class="list-group">
                                <li class="list-group-items ms-5">Lorem ipsum dolor </li>
                                <li class="list-group-items ms-5">Lorem ipsum dolor </li>
                                <li class="list-group-items ms-5">Lorem ipsum dolor</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr class="w-25 " style="margin-left:20px;">


                <!-- education -->
                <h5 style="margin-left: 20px;margin-top: -80px;" class="text-primary heading">Education</h5>
                <p class="education">Lorem ipsum dolor sit amet consectetur, adipisicing elit in 2016</p>
                <hr class="w-25 " style="margin-left:20px;">

                <!-- interest and hobbies -->
                <h5 style="margin-left: 20px;margin-top: -80px;" class="text-primary heading">Intrest and Hobbies</h5>
                <ul class="list-group">
                    <p class="recreate">Recreate Football League</p>
                    <li class="list-group-items ms-5">Team Captian</li>
                    <li class="list-group-items ms-5">Two Time League Champion </li>
                </ul>

                <ul>
                    <p class=" red">Red Cross Volunteer</p>
                    <li class="list-group-items volunteer">Taught cpr and First Aid etc</li>
                </ul>

                <hr class="w-25 " style="margin-left:20px;">
            </form>
        </div>






        

        <!-- third template -->
        <div class="col-4">
            <form class="column3 mt-5"routerLink="/header-detail">
                <div class="heading3">
                    <h2 class="text-center">Priya Agarwal</h2>
                </div>
                <p style="background-color: black; font-size: small;" class="text-center text-light">New Delhi, India
                    ,112345 | +91 9865365896 | priya@gmail.com</p>

                <!-- summery -->
                <p style="margin-left: 10px;margin-right: 10px;" class="text-decoration-line summery">Lorem ipsum dolor
                    sit amet consectetur adipisicing elit. Atque
                    at
                    iure quidem omnis? Ipsam dignissimos repellat similique dolor aut quia esse quis officiis illum
                    sunt.
                    Praesentium ab fuga alias Lorem ipsum dolor Lorem ipsum dolor, sit amet consectetur adipisicing
                    elit. Ab ipsa beatae veniam porro tempore impedit voluptas, iure repudiandae optio quidem, illum
                    delectus dolorum! Maxime nulla provident modi quisquam culpa aspernatur.</p>
                <hr class="w-25 " style="margin-left: 20px;">

                <!-- experience -->
                <h5 style="margin-left: 20px; margin-top: -100px;" class="heading">Experience</h5>
                <p class="experience">1-2017 - current &nbsp;&nbsp; <span class="fw-bolder"> RETAIL SALES ASSOCIATIVE ZARA-New
                    Delhi,India</span></p>


                <ul style="margin-left: 80px;" class="list-group">
                    <li class="list-group-items ms-5">Lorem ipsum dolor sit amet consectetur adipisicing.</li>
                    <li class="list-group-items ms-5">Lorem ipsum dolor sit amet consectetur adipi <br> sicing amet
                        consectetur adipisicing elit</li>
                    <li class="list-group-items ms-5">Lorem ipsum dolor sit amet consectetur adipisicing.</li>
                </ul>
                <hr class="w-25 " style="margin-left:20px;">

                <!-- skills -->
                <h5 style="margin-left: 20px; margin-top: -80px;" class="heading">Skills</h5>

                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <ul class="list-group">
                                <li class="list-group-items ms-5">Lorem ipsum dolor </li>
                                <li class="list-group-items ms-5">Lorem ipsum dolor </li>
                                <li class="list-group-items ms-5">Lorem ipsum dolor</li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul class="list-group">
                                <li class="list-group-items ms-5">Lorem ipsum dolor </li>
                                <li class="list-group-items ms-5">Lorem ipsum dolor </li>
                                <li class="list-group-items ms-5">Lorem ipsum dolor</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr class="w-25 " style="margin-left:20px;">


                <!-- education -->
                <h5 style="margin-left: 20px;margin-top: -80px;" class="heading">Education</h5>
                <p class="education ms-5"> 2016 <span class="fw-bolder ms-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit in 2016</span></p>
                <hr class="w-25 " style="margin-left:20px;">

                <!-- interest and hobbies -->
                <h5 style="margin-left: 20px;margin-top: -80px;" class="heading">Intrest and Hobbies</h5>
                <ul class="list-group">
                    <p class="recreate3">Recreate Football League</p>
                    <li class="list-group-items ms-5">Team Captian</li>
                    <li class="list-group-items ms-5">Two Time League Champion </li>
                </ul>

                <ul>
                    <p class=" red3 mt-2">Red Cross Volunteer</p>
                    <li style="margin-top: -10px;" class="list-group-items volunteer">Taught cpr and First Aid etc</li>
                </ul>

                <hr class="w-25 " style="margin-left:20px;">
            </form>
        </div>
    </div>
</div>