    <h1 style="margin-top: 150px;" id="page1heading" class="animate__animated animate__fadeInUp" >Have you ever written a CV?</h1>

    <!-- <h1 style="margin-top: 150px;margin-left: 600px;" id="page1heading" class="animate__animated animate__fadeInUp">Have you ever written a CV?</h1> -->

    <div style="margin-top: 100px;margin-left: 500px;" class="text-center ">
        <button class="btn fw-bolder text-success btn1" routerLink="/home"><span class="yes">Yes</span></button>
        <button class="btn ms-5 fw-bolder text-danger btn2" routerLink="/templates"><span class="no">No</span></button>
    </div>
    <div>
        <img style="width: 700px;height:700px;margin-top: -350px;margin-left: 50px;margin-top: -450px;"
            src="https://media.istockphoto.com/id/1304527612/vector/resumes-cv-application-resume-filling-concept-writing-business-resume-job-search-resume.jpg?s=612x612&w=0&k=20&c=wKhHHikcoQJ1pEGaOgSUWsRoXEYr1TTbvbHcrpm1zGo=" alt="resume_img">
    </div>

