<!-- <section id="contact">
    <h1>HAVE ANY QUESTION?</h1>
    <h3>Contact Us</h3>
    <div class="contact-form">
       <input type="text" name="name" id="name" placeholder="Your Name">
       <input type="email" name="name" id="email" placeholder="Your Email">
       <input type="phone" name="name" id=" " placeholder="Your Phone Number">
       <textarea name="text" id="textarea" cols="30" rows="10" placeholder="Write Your Message Here"></textarea>
       <button class="btn-bv">Send</button>
    </div>
 </section>  -->
 <!-- <app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-6">

        </div>
    </div>
</div> -->




<div style="margin-right: 100px;">
    <h1 class="mt-5">How can we be of assistance?</h1>
    <p style="margin-right: 100px; font-size: 18px;">If you require clarifications on any of the courses or the admission process, we are happy to help</p>
</div>

<div class="form-group mt-5">
    <input type="text" class="form-control contact-us-input-field" id="fullName" placeholder="Name" name="fullName" value=""> 
</div>
<div class="form-group mt-3">
    <input type="text" class="form-control contact-us-input-field" id="number" placeholder="Contact Number" name="number" value=""> 
</div>
<div class="form-group mt-3">
    <input type="text" class="form-control contact-us-input-field" id="email" placeholder="Email id" name="email" value=""> 
</div>
<div class="form-group mt-3">
    <input type="text" class="form-control contact-us-input-field" id="city" placeholder="City" name="city" value=""> 
</div>
<div class="mt-3">
    <select class="form-select " aria-label="Default select example">
        <option disabled selected>Please select Course</option>
        <option value="1">Software Testing Specialist</option>
        <option value="2">MEA(R)N Stack Web Development Expert - Angular & React</option>
        <option value="3">Python Django - Angular- Full Stack Web Development Expert</option>
        <option value="3">Asp.net MVC with Angular - Full Stack</option>
        <option value="3">Data Science - ML - AI - Big Data with Cloud & TABLEAU</option>
        <option value="3">Android Developer Expert Training In Kochi- Flutter</option>
      </select>
</div> 


<div class="col-6 " style="margin-top: 50px;">
    <div style="margin-left: 200px;">
        <h1 class="fw-bold " style="color: blue; margin-top: 50px; font-size: 55px; font-family: 'Instrument Serif', serif;">Contact Us</h1>
        <div style="margin-left: 50px; margin-top: 50px;"><a routerLink=""><i class="fa-solid fa-phone text-success me-5 fs-4"></i></a>
            <span><a class="fw-bold  fs-5" style="color:  blue; text-decoration: none;" routerLink="">Call us on:</a></span>
            <p class="mt-2 "  style="font-size: 18px; "><a style="text-decoration: none; color: black; margin-left: 65px;" routerLink="">Call: +91 8086 651 651</a></p>
        </div>
        <div style="margin-left: 50px; margin-top: 50px;"><a routerLink=""><i class="fa-solid fa-envelope text-success me-5 fs-4"></i></a>
            <span><a class="fw-bold  fs-5" style="color:  blue; text-decoration: none;" routerLink="">Email us at:</a></span>
            <p class="mt-2 "  style="font-size: 18px;"><a style="text-decoration: none; color: black; margin-left: 65px;"  routerLink="">Enquiry: contact@luminartechnolab.com</a></p>
            <p class="mt-2 " style="font-size: 18px;"><a style="text-decoration: none; color: black; margin-left: 65px;"  routerLink="">Placement Cell: hr@luminartechnolab.com</a></p>
        </div>
        <div style="margin-left: 50px; margin-top: 50px;"><a routerLink=""><i class="fa-brands fa-solid fa-whatsapp text-success me-5 fs-4"></i></a>
            <span><a class="fw-bold  fs-5" style="color: blue; text-decoration: none;" routerLink="">Connect us on:</a></span>
            <p class="mt-2 "  style="font-size: 18px;"><a style="text-decoration: none; color: black; margin-left: 65px;"  routerLink="">WhatsApp</a></p>
        </div>
        <div style="margin-left: 50px; margin-top: 50px;"><a routerLink=""><i class="fa-solid fa-location-dot text-success me-5 fs-4"></i></a>
            <span><a class="fw-bold  fs-5" style="color: blue; text-decoration: none;" routerLink="">Locate us on:</a></span>
            <p class="mt-2 "  style="font-size: 18px; "><a style="text-decoration: none; color: black; margin-left: 65px;"  routerLink="">Google Map</a></p>
        </div>

    </div>