#bgimg{
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

    width: 100%;
}
.banner{
    background-image: url('https://www.shutterstock.com/image-photo/top-view-resumes-applicants-magnifying-260nw-2161194169.jpg');

    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    height: 600px;

}
.display-4{
    font-family: 'Solway', serif;
}
.line2{
    font-family: 'Instrument Serif', serif;
    font-weight: 500;
}
.builder{
    /* text-justify: auto; */
    /* justify-content: flex-end; */
    text-align: start;
    
}
.builder{
   margin-left: 300px;

}
.builderhead{
    margin-top: -200px;
    margin-left: 300px;
}
.review{
    margin-top: 150px;
}
.second{
margin-top: 30px;
margin-right: 20px;
}

